.pane-margin {
  height: 25vh;
  background-color: var(--alt-background-color);
}

.project {
  margin-top: 4em;
  min-height: 75vh;
  color: white;
}

.project:first-of-type {
  margin-top: -2em;
}

.square-media {
  text-align: right;
  max-width: 50vh; height: auto;
  object-fit: cover;
  padding: 0em;
  border: solid black 1px;
  box-shadow:  0 0 1em 0 #0005;
}

.mobile-media {
  max-height: 75vh;
  width: auto;
  padding: 0;
  border: solid black 1px;
  border-radius: 25px;
  box-shadow:  0 0 1em 0 #0005;
}