nav {
  font-size: large;
  background-color: transparent;
  position: absolute;

  transition: box-shadow 0.25s, background-color 0.25s;
}

.nav-panel {
  box-shadow: 2px 2px 5px #0009;
  background-color: var(--primary-color);
}
