<app-slanted-section
  [color]="'white'"
  [childClasses]="'container text-black'"
  id="contact"
>
  <div class="row justify-content-around align-items-center contact">
    <div class="col-md-5">
      <h2>Contact:</h2>
      <p>
        I'd love to connect! Send me a message if you'd like to chat. Thanks!
      </p>
    </div>
    <form (ngSubmit)="sendMail($event)" class="col-md-5">
      <div class="form-group mb-2">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="name"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter your name"
        />
      </div>
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter your email address"
        />
      </div>
      <div class="form-group mb-2">
        <label for="message">Message</label>
        <textarea
          id="message"
          [(ngModel)]="message"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group d-flex align-items-center justify-content-start">
        <input type="submit" class="btn btn-primary px-4" value="Send" />
        <span class="mx-2" [textContent]="sendStatus"></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="gray"
          class="mx-2 loading"
          *ngIf="isSending"
          [ngStyle]="{ transform: 'rotate(' + loadRotation + 'deg)' }"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
          />
        </svg>
      </div>
    </form>
  </div>
</app-slanted-section>
<footer class="text-center pt-4">© Chrisitian Schmid</footer>
