.skill-back, .skill-back-overlay {
  position: absolute;
}

.skill-back-overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  background-color: transparent;
  transition: background-color 0.5s; 
}

.skill-pane {
  margin: 1.5em 0;
  position: relative;

  border-radius: 5px;
}

.skill-pane ul {
  list-style: none;
}

.skill-description {
  right: 2em;
}

.skill-thumb {
  height: 128px;
  width: auto;
}

/* 
  The appear effect when the mouse hovers over a skill group.
  Requires a non-touch screen and a min-width of 768px
*/
@media (hover: hover) and (min-width: 768px) {
  /* .sr-only was taken from https://accessibility.18f.gov/hidden-content/ */
  .sr-only {
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 500px;
    color: transparent;
  }
  .skill-back-overlay {
    background-color: transparent;
    transition: background-color 0.25s;
  }
  .focused {
    background-color: white;
  }
  
}
