@import url("~bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Source+Code+Pro:wght@400;500&display=swap");

body {
  color: white;
}

body p,
body li {
  font-size: large;
}

nav {
  font-family: var(--header-font);
}

body {
  font-family: var(--primary-font);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: white;
}

.anchor:before, .anchor:after {
  height: 48px;
  content: "";
  display: block;
}