nav {
  font-size: large;
  background-color: transparent;
  position: absolute;
  min-width: 100%;

  transition: box-shadow 0.25s, background-color 0.25s;
}

.nav-panel-scrolled {
  box-shadow: var(--text-shadow);
  background-color: #444;
}

@media(min-width: 768px) {
  nav {
    max-height: 48px;
  }
}
